_book/
/.quarto/
/.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.DS_store

# exclude experimental ones
*.qmd_
/reprex/

# exclude data folder
neiss/
/sales-dashboard/
data/

# unfinished/unresolved app
/examples/action-feedback/undoing/


# quarto render files
/*_files/
test.qmd
test.html
report.html
